{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-header bg-light text-center">
                <h4 class="mb-0">내 정보 (마이페이지)</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th style="width: 150px;">아이디</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td>{{ user.email|default:"미입력" }}</td>
                    </tr>
                    <tr>
                        <th>가입일</th>
                        <td>{{ user.date_joined|date:"Y년 m월 d일" }}</td>
                    </tr>
                </table>
                
                <div class="d-flex justify-content-end gap-2 mt-4">
                    <a href="{% url 'boards:board_list' 'free' %}" class="btn btn-secondary">목록으로</a>
                    <a href="{% url 'accounts:profile_edit' %}" class="btn btn-primary">정보 수정</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}